
<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="m-0 text-dark">{{tela}}</h1>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>

<div class="text-center" ng-show="mostrarAguarde">
    <img class="figura-aguarde" src="img/carregandoGoogle.gif">
    <label class="label-aguarde">{{buscarDicionario('Aguarde...')}}</label>
</div>
<div class="row" ng-show="!visualizaCadastro && !mostrarAguarde">
	<!-- /.content-header -->
	<div class="col-md-12">

		<div class="card">
			<div class="card-header">
					<button type="button" ng-click="btnIncluir()"
						class="btn btn-outline-primary btn-lg">Abrir Caixa</button>
				
					<button type="button" ng-click="btnEditar()"
						class="btn btn-outline-primary btn-lg">Editar</button>
				
					<button type="button" ng-click="btnExcluir()"
						class="btn btn-outline-danger btn-lg">Excluir</button>
				
					<button type="button" ng-click="btnFecharCaixa()"
						class="btn btn-outline-primary btn-lg">Fechar Caixa</button>
			</div>
			
			<!-- /.card-header -->
			<div class="card-body">
				<div class="table-responsive table-pesquisa-fixa">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th width="80px"><a href=""
									ng-click="ordenacao('id')"
									title="{{buscarDicionario('Ordenar')}}"> Cód. <span
										ng-show="campoOrdenacao == '+id'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-id'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="id" ng-model="idFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
									
								<th><a href="" ng-click="ordenacao('dataAbertura')"
									title="Ordenar"> Data de Abertura <span
										ng-show="campoOrdenacao == '+dataAbertura'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-dataAbertura'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="dataAberturaFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
									
									<th><a href="" ng-click="ordenacao('valorAbertura')"
									title="Ordenar"> Valor de Abertura <span
										ng-show="campoOrdenacao == '+valorAbertura'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-valerAbertura'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="valorAberturaFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
									
									<th><a href="" ng-click="ordenacao('valorAtual')"
									title="Ordenar"> Valor Atual <span
										ng-show="campoOrdenacao == '+valorAtual'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-valerAtual'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="valorAtualFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
										
									<th><a href="" ng-click="ordenacao('dataFechamento')"
									title="Ordenar"> Data de Fechamento <span
										ng-show="campoOrdenacao == '+dataFechamento'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-dataFechamento'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="dataFechamentoFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
									
									<th><a href="" ng-click="ordenacao('valorFechamento')"
									title="Ordenar"> Valor de Fechamento <span
										ng-show="campoOrdenacao == '+valorFechamento'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-valerFechamento'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="valorFechamentoFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
									
									<th width="100px"><a href=""
									ng-click="ordenacao('descStatus')" title="Ordenar"> Status <span
										ng-show="campoOrdenacao == '+descricao'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-descricao'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="descStatusFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>
							</tr>
						</thead>
						
						<tbody>
							<tr ng-repeat="g in caixasFiltradas" ng-click="selecionarLinha(g)"
								ng-class="{linhaSelecionada : g == objetoSelecionado}">
								<td>{{g.id}}</td>
								<td>{{g.dataAberturaStr}}</td>
								<td>{{g.valorAbertura}}</td>
								<td>{{g.valorAtual}}</td>
							    <td>{{g.dataFechamentoStr}}</td>
								<td>{{g.valorFechamento}}</td>
								<td>{{g.descStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
	</div>
</div>

<div class="row" ng-show="visualizaCadastro && !mostrarAguarde">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Cadastro</h3>
				<button type="button" class="btn btn-secondary pull-right" ng-click="voltar()">Voltar</button>
			</div>
			
			<!-- /.card-header -->
			
			<ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" ng-click="abaSelecionada = 'caixa'" >Caixa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" data-toggle="pill" ng-click="abaSelecionada = 'caixaMovimentacao'" >Movimentacao</a>
				</li>
			</ul>
			
			<div class="card-body" ng-show="abaSelecionada == 'caixa'">
				
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label>Código</label> <input type="text" class="form-control"
								ng-model="caixa.id" readonly>
						</div>
					</div>

					<!-- CAMPO DATA ABERTURA -->
					<div class="col-md-2">
						<div class="form-group">
							<label>* Data de Abertura</label> <input id="cDataAbertura" type="date"
								class="form-control" ng-model="caixa.dataAbertura" maxlength="60" readonly
								mask-maiusculas autofocus>
						</div>
					</div>
					
					<!-- CAMPO VALOR ABERTURA -->
					<div class="col-md-2">
						<div class="form-group">
							<label>* Valor de Abertura</label> <input id="cValorAbertura" type="text"
								class="form-control" ng-model="caixa.valorAbertura" ng-change="atualizarValor()"  maxlength="10"
								mask-maiusculas autofocus>
						</div>
					</div>
					
					<!-- CAMPO VALOR ATUAL -->
					<div class="col-md-2">
						<div class="form-group">
							<label>Valor Atual</label> <input id="cValorAtual" type="text"
								class="form-control" ng-model="caixa.valorAtual" maxlength="10"
								mask-maiusculas autofocus readonly>
						</div>
					</div>
					
					<!-- CAMPO DATA FECHAMENTO -->
					<div class="col-md-2">
						<div class="form-group">
							<label>Data de Fechamento</label> <input id="cDataFechamento" type="date"
								class="form-control" ng-model="caixa.dataFechamento" readonly
								mask-maiusculas autofocus>
						</div>
					</div>
					
					<!-- CAMPO VALOR FECHAMENTO -->
					<div class="col-md-2">
						<div class="form-group">
							<label>Valor de Fechamento</label> <input id="cValorFechamento" type="text"
								class="form-control" ng-model="valorFechamento" maxlength="10" readonly
								mask-maiusculas autofocus>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div
						class="alert alert-danger alert-dismissible col-md-12 text-center"
						ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click="btnSalvar(caixa)">Salvar</button>
					</div>
				</div>
			</div>
			
			<!-- /.card-body -->
			<div class="card-body" ng-show="abaSelecionada == 'caixaMovimentacao'">
				<div class="col-md-12">
					<div class="card">
			<div class="card-header">
						<button type="button" ng-click="btnIncluirCaixaMovimentacao()"
							class="btn  btn-outline-primary btn-lg">Incluir</button>
						<button type="button" ng-click="btnEditar()"
							class="btn  btn-outline-primary btn-lg">Editar</button>
						<button type="button" ng-click="btnExcluir()"
							class="btn  btn-outline-danger btn-lg">Excluir</button>
			</div>
						<!-- /.card-header -->
							<div class="card-body">
								<div class="table-responsive table-pesquisa-fixa">
									<table class="table table-bordered table-condensed">
										<thead>
											<tr>
												<th><a href="" ng-click="ordenacao('dataMovimentacao')"
													title="Ordenar"> Data de Movimentacao <span
														ng-show="campoOrdenacao == '+dataMovimentacao'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-dataMovimentacao'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
												</a> <input type="text" name="peso" ng-model="dataMovimentacaoFilter"
													class="form-control" placeholder="Pesquisar..."
													ng-change="pesquisar()" mask-maiusculas></th>
													
													<th><a href="" ng-click="ordenacao('valorMovimentacao')"
													title="Ordenar"> Valor de Movimentacao <span
														ng-show="campoOrdenacao == '+valorMovimentacao'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-valorMovimentacao'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
												</a> <input type="text" name="peso" ng-model="valorMovimentacaoFilter"
													class="form-control" placeholder="Pesquisar..."
													ng-change="pesquisar()" mask-maiusculas></th>
													
													<th><a href="" ng-click="ordenacao('tipo')"
													title="Ordenar"> Tipo <span
														ng-show="campoOrdenacao == '+tipo'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-tipo'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
												</a> <input type="text" name="peso" ng-model="tipoFilter"
													class="form-control" placeholder="Pesquisar..."
													ng-change="pesquisar()" mask-maiusculas></th>
													
													<th><a href="" ng-click="ordenacao('observacao')"
													title="Ordenar"> Observacao <span
														ng-show="campoOrdenacao == '+observacao'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-observacao'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
												</a> <input type="text" name="peso" ng-model="observacaoFilter"
													class="form-control" placeholder="Pesquisar..."
													ng-change="pesquisar()" mask-maiusculas></th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="g in caixa.caixaMovimentacoes" ng-click="selecionarLinha(g)"
												ng-class="{linhaSelecionada : g == objetoSelecionado}">
												<td>{{g.dataMovimentacao | date:'dd/MM/yyyy'}}</td>
												<td>{{g.valorMovimentacao}}</td>
												<td>{{g.tipo}}</td>
												<td>{{g.observacao}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- /.card-body -->
						</div>
				<div class="row">
					<div
						class="alert alert-danger alert-dismissible col-md-12 text-center"
						ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click="btnSalvar(caixa)">Salvar</button>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="modal" id="modalCaixaMovimentacao">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Cadastro</h3>
				<button type="button" class="btn btn-secondary pull-right" ng-click="fecharModalCaixaMovimentacao()">Voltar</button>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">

					<!-- CAMPO DATA MOVIMENTACAO -->
					<div class="col-md-3">
						<div class="form-group">
							<label>* Data de Movimentacao</label> <input id="cDataMovimentacao" type="date"
								class="form-control" ng-model="caixaMovimentacao.dataMovimentacao" readonly>
						</div>
					</div>
					
					<!-- CAMPO VALOR MOVIMENTACAO -->
					<div class="col-md-3">
						<div class="form-group">
							<label>* Valor de Movimentacao</label> <input id="cValorMovimentacao" type="text"
								class="form-control" ng-model="caixaMovimentacao.valorMovimentacao" ng-change="atualizarValor()"  maxlength="10"
								mask-maiusculas autofocus>
						</div>
					</div>
					
					<!-- CAMPO TIPO -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Tipo</label> <select id="cTipo" class="form-control" ng-model="caixaMovimentacao.tipo">
			                 <option value="">Selecione um tipo</option>
			                 <option value="C">Credito</option>
			                 <option value="D">Debito</option></select>
						</div>
					</div>
					
					<!-- CAMPO OBS -->
					<div class="col-md-12">
						<div class="form-group">
							<label>* Observacao</label> <textarea id="cObservacao" type="text"
								class="form-control" ng-model="caixaMovimentacao.observacao" maxlength="300"
								mask-maiusculas autofocus></textarea>
						</div>
					</div>

				</div>
				<div class="row">
					<div
						class="alert alert-danger alert-dismissible col-md-12 text-center"
						ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click="btnSalvarCaixaMovimentacao(caixaMovimentacao)">Salvar</button>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
	</div>
</div>

<div class="modal" id="modalCaixaFechamento">
	<div class="col-md-4 " >
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Fechamento</h3>
				<button type="button" class="btn btn-secondary pull-right" ng-click="fecharModalCaixaFechamento()">Voltar</button>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">

					<!-- CAMPO DATA FECHAMENTO -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Data de Fechamento</label> <input id="cDataFechamento" type="date"
								class="form-control" ng-model="caixa.dataFechamento" readonly>
						</div>
					</div>
					
					<!-- CAMPO VALOR FECHAMENTO -->
					<div class="col-md-6">
						<div class="form-group">
							<label>Valor de Fechamento</label> <input id="cValorFechamento" type="text"
								class="form-control" ng-model="valorFechamento" maxlength="10"
								mask-maiusculas autofocus readonly>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div
						class="alert alert-danger alert-dismissible col-md-12 text-center"
						ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click=btnConfirmarFechamento(caixa)>Confirmar
					</div>
			<!-- /.card-body -->
		       </div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="modalAtencao">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{{mensagemModal}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">OK</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal" id="modalExcluir">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{{mensagemModal}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary pull-right" ng-click="confirmaExcluir()">Confirmar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
