<!-- DIV COM HEADER DA PÁGINA -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="m-0 text-dark">{{tela}}</h1>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- FIM DA DIV COM HEADER DA PÁGINA -->

    


<!-- DIV QUE CONTÉM A IMAGEM DE CARREGANDO DA PÁGINA -->
<div class="text-center" ng-show="mostrarAguarde">
	<img class="figura-aguarde" src="img/engrenagem.gif"> <label
		class="label-aguarde">{{buscarDicionario('Aguarde...')}}</label>
</div>
<!-- FIM DA DIV QUE CONTÉM A IMAGEM DE CARREGANDO DA PÁGINA -->



<!-- DIV QUE NÃO VISUALIZA CADASTRO E NÃO MOSTRA O GIF AGUARDE >> DIV COM COLUNA TAMANHO 12 >> DIV QUE CONTÉM UM CARD -->
<div class="row" ng-show="!visualizaCadastro && !mostrarAguarde">
	<div class="col-md-12">
		<div class="card">
		
		

					<div class="card-header">
						<button type="button" ng-click="btnIncluir()" class="btn  btn-outline-primary btn-lg glyphicon glyphicon-floppy-disk">  Incluir</button>
						
						<button type="button" ng-click="btnEditarPessoa()" class="btn  btn-outline-primary btn-lg glyphicon glyphicon-pencil">  Editar</button>
						
						<button type="button" ng-click="btnExcluirPessoa()"class="btn  btn-outline-danger btn-lg glyphicon glyphicon-remove-sign">  Excluir</button>
					</div>


			<!-- DIV QUE CONTÉM A TABELA COM OS NOMES DAS COLUNAS DOS DADOS E COM OS LINKS PARA ORDENAÇÃO -->
			<div class="card-body">
				<div class="table-responsive table-pesquisa-fixa">
				
				
				
					<!-- TABLE HEADER QUE CONTÉM A CABEÇA DA TABELA ONDE SERÁ MOSTRADA NOMES DAS COLUNAS E CAMPOS DE ORDENAÇÃO -->
					<table id="tabela_pessoa" class="table table-bordered table-condensed" >
						<thead>
							<tr>
								<th width="80px"><a href="" ng-click="ordenacao('id')"
									title="{{buscarDicionario('Ordenar')}}"> Cód. <span
										ng-show="campoOrdenacao == '+id'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-id'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="id" ng-model="idFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>

								<th><a href="" ng-click="ordenacao('nomeRzSocial')"
									title="Ordenar"> Nome / Razão Social <span
										ng-show="campoOrdenacao == '+nomeRzSocial'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-nomeRzSocial'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="nomeRzSocialFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>

								<th><a href="" ng-click="ordenacao('cnpjCpf')"
									title="Ordenar"> CPF / CNPJ <span
										ng-show="campoOrdenacao == '+cnpjCpf'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-cnpjCpf'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="cnpjCpfFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>

								<th><a href="" ng-click="ordenacao('tipo')" title="Ordenar">
										Tipo <span ng-show="campoOrdenacao == '+tipo'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-tipo'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="tipoFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>

								<th width="100px"><a href=""
									ng-click="ordenacao('descStatus')" title="Ordenar"> Status
										<span ng-show="campoOrdenacao == '+nomeRzSocial'"
										class="glyphicon glyphicon-sort-by-attributes" /> <span
										ng-show="campoOrdenacao == '-nomeRzSocial'"
										class="glyphicon glyphicon-sort-by-attributes-alt" />
								</a> <input type="text" name="peso" ng-model="descStatusFilter"
									class="form-control" placeholder="Pesquisar..."
									ng-change="pesquisar()" mask-maiusculas></th>


							</th>
						</tr>

					</thead>
					<!-- FIM DA TABLE HEADER QUE CONTÉM A CABEÇA DA TABELA ONDE SERÁ MOSTRADA NOMES DAS COLUNAS E CAMPOS DE ORDENAÇÃO -->
					
					
					
							<tr ng-repeat="p in pessoasFiltradas"
								ng-click="selecionarLinha(p)"
								ng-class="{linhaSelecionada : p == objetoSelecionado}">
								<td>{{p.id}}</td>
								<td>{{p.nomeRzSocial}}</td>
								<td>{{p.cnpjCpf}}</td>
								<td>{{p.tipo}}</td>
								<td>{{p.descStatus}}</td>
							</tr>	
						</tbody>
					</table>
					<!-- FIM DA DIV QUE CONTÉM A TABELA ONDE SERÁ MOSTRADA NOMES DAS COLUNAS E CAMPOS DE ORDENAÇÃO -->
							
			</div>
			<!-- FIM DA DIV QUE CONTÉM A TABELA COM OS NOMES DAS COLUNAS DOS DADOS E COM OS LINKS PARA ORDENAÇÃO -->
			
			
			
		</div>
	</div>
</div>
<!--FIM DA DIV QUE NÃO VISUALIZA CADASTRO E NÃO MOSTRA O GIF AGUARDE >> DIV COM COLUNA TAMANHO 12 >> DIV QUE CONTÉM UM CARD -->



<!-- DIV COM INPUTS DA TELA DE CADASTRO DE PESSOA -->
<div class="row" ng-show="visualizaCadastro && !mostrarAguarde">
	<div class="col-md-12">
		<div class="card">
		
			<div class="card-header">
				<h3 class="card-title">Cadastro</h3>
				<button type="button" class="btn btn-secondary pull-right" ng-click="voltar()">Voltar</button>		
			</div>
			
			
			
				<!-- UL COM AS ABAS PARA SELECIONAR A PESSOA, ENDEREÇO E CONTATO-->
				<ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
				
                	<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" ng-click="abaSelecionada = 'pessoa'" >Pessoa</a>
					</li>
					
               		 <li class="nav-item">
          				<a class="nav-link" data-toggle="pill" ng-click="abaSelecionada = 'endereco'" >Endereço</a>
       				</li>
       				
                	 <li class="nav-item">
          				<a class="nav-link" data-toggle="pill" ng-click="abaSelecionada = 'contato'" >Contato</a>
       				</li>
       				
            	</ul>
            	<!-- FIM DA UL COM AS ABAS PARA SELECIONAR A PESSOA, ENDEREÇO E CONTATO-->
            
            
            
            <!-- ESTRUTURA DA ABA SELECIONADA PESSOA COM SEUS INPUTS------------------------------------------------------------------>	
			<div class="card-body" ng-show="abaSelecionada == 'pessoa'">
			
			
			
				<!-- DIV LINHA CONTENDO OS INPUTS-->
				<div class="row">
				
					<!-- DIV COM COLUNA OCUPANDO 2 ESPAÇOS COM CAMPO id-->
					<div class="col-md-2">
						<div class="form-group">
							<label>Código</label> <input type="text" class="form-control"
								ng-model="pessoa.id" readonly>
						</div>
					</div>
					<!--FIM DA DIV COM COLUNA OCUPANDO 2 ESPAÇOS COM CAMPO id-->



					<!-- DIV COM COLUNA OCUPANDO 5 ESPAÇOS COM CAMPO nomeRzSocial-->
					<div class="col-md-5">
						<div class="form-group">
							<label>* {{descricaoNomeRzSocial}}</label> <input
								id="cnomeRzSocial" type="text" class="form-control"
								ng-model="pessoa.nomeRzSocial" maxlength="60" mask-maiusculas
								autofocus>
						</div>
					</div>
					<!--FIM DA DIV COM COLUNA OCUPANDO 5 ESPAÇOS COM CAMPO nomeRzSocial-->
					
					
					
					<!-- DIV COM COLUNA OCUPANDO 3 ESPAÇOS COM CAMPO CnpjCpf-->
					<div class="col-md-3">
						<div class="form-group">
							<label>* {{descricaoCnpjCpf}}</label> <input id="ccnpjCpf"
								type="text" class="form-control" ng-model="pessoa.cnpjCpf"
								maxlength="60" mask-maiusculas autofocus>
						</div>
					</div>
					<!-- FIM DA DIV COM COLUNA OCUPANDO 3 ESPAÇOS COM CAMPO cnpjCpf -->
					
					
					
					<!-- DIV COM COLUNA OCUPANDO 2 ESPAÇOS COM CAMPO TIPO -->
					<div class="col-md-2">
						<div class="form-group">
							<label>* Tipo</label> 
							<select class="form-control" ng-model="pessoa.tipo" ng-change="changeTipoPessoa()">
								<option value="F">Fisica</option>
								<option value="J">Juridica</option>
							</select>
						</div>
					</div>
					<!-- FIM DA DIV COM COLUNA OCUPANDO 2 ESPAÇOS COM CAMPO TIPO -->



					<!-- DIV COM COLUNA OCUPANDO 12 ESPAÇOS COM CAMPO STATUS -->
					<div class="col-md-12">
						<div class="form-group">
							<div class="checkbox">
								<label> <input type="checkbox" class="checkbox"
									ng-model="pessoa.status" ng-true-value="1" ng-false-value="0">
									Ativo
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<button type="button" class="btn bg-primary btn-lg pull-right"
								ng-click="btnSalvarPessoa(pessoa)">Salvar</button>
							</div>
						</div>
					</div>
					<!-- FIM DA DIV COM COLUNA OCUPANDO 12 ESPAÇOS COM CAMPO STATUS -->
					
				</div>
				<!-- DIV LINHA CONTENDO OS INPUTS-->
				
				
				
			</div>
			<!--FIM DA ESTRUTURA DA ABA SELECIONADA PESSOA COM SEUS INPUTS----------------------------------------------------------->
			
			
	
			<!-- ESTRUTURA DA ABA SELECIONADA ENDEREÇO COM SEUS INPUTS E BOTÕES DE SELEÇÃO------------------------------------------->
			<div class="card-body" ng-show="abaSelecionada == 'endereco'">
				<div class="col-md-12">
				
				
				
					<!-- DIV CONTENDO CARD QUE CONTÉM TODA A ABA DE ENDEREÇOS -->
					<div class="card">
					
					
					
						<!-- DIV QUE CONTÉM OS BOTÕES DE INCLUIR EDITAR E EXCLUIR -->
						<div class="card-header">
				
							<button type="button" ng-click="btnIncluirEndereco()"
								class="btn btn-outline-primary btn-lg glyphicon glyphicon-floppy-disk">  Incluir</button>
								
							<button type="button" ng-click="btnEditarEndereco()"
								class="btn btn-outline-primary btn-lg glyphicon glyphicon-pencil">  Editar</button>
								
							<button type="button" ng-click="btnExcluirEndereco()"
								class="btn btn-outline-danger btn-lg glyphicon glyphicon-remove-sign">  Excluir</button>
								
						</div>
						<!--FIM DA DIV QUE CONTÉM OS BOTÕES DE INCLUIR EDITAR E EXCLUIR -->
						

									
						<div class="card-body">
							<div class="table-responsive table-pesquisa-fixa">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
												
												<th>
													<a href="" ng-click="ordenacao('rua')"
														title="Ordenar"> Rua <span
															ng-show="campoOrdenacao == '+rua'"
															class="glyphicon glyphicon-sort-by-attributes" /> <span
															ng-show="campoOrdenacao == '-rua'"
															class="glyphicon glyphicon-sort-by-attributes-alt" />
														</a>
													</th>
												
											<th>
												<a href="" ng-click="ordenacao('cep')"
													title="Ordenar"> Cep <span
														ng-show="campoOrdenacao == '+cep'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-cep'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
													</a>
												</th>
												
											<th><a href="" ng-click="ordenacao('numero')"
													title="Ordenar"> Numero <span
														ng-show="campoOrdenacao == '+numero'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-numero'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
													</a>
												</th>
												
												<th><a href="" ng-click="ordenacao('bairro')"
														title="Ordenar"> Bairro <span
															ng-show="campoOrdenacao == '+bairro'"
															class="glyphicon glyphicon-sort-by-attributes" /> <span
															ng-show="campoOrdenacao == '-bairro'"
															class="glyphicon glyphicon-sort-by-attributes-alt" />
														</a> 
													</th>
												
												<th><a href="" ng-click="ordenacao('complemento')"
														title="Ordenar"> Complemento <span
															ng-show="campoOrdenacao == '+complemento'"
															class="glyphicon glyphicon-sort-by-attributes" /> <span
															ng-show="campoOrdenacao == '-complemento'"
															class="glyphicon glyphicon-sort-by-attributes-alt" />
														</a>
													</th>
												
												<th><a href="" ng-click="ordenacao('tipo')"
														title="Ordenar"> Tipo <span
															ng-show="campoOrdenacao == '+tipo'"
															class="glyphicon glyphicon-sort-by-attributes" /> <span
															ng-show="campoOrdenacao == '-tipo'"
															class="glyphicon glyphicon-sort-by-attributes-alt" />
														</a>
													</th>
												
														
										</tr>
										
									</thead>
			
									<!-------------------------------------------------------------------------------->
									<!--	CORPO DE TABELA QUE CONTEM OS ATRIBUTOS DA TABELA QUE TRARÁ A BUSCA 	-->
									<!-------------------------------------------------------------------------------->
									<tbody>
										<!-- trazendo elemento "e" em enderecos de pessoas -->
										<tr ng-repeat="e in pessoa.enderecos"	
											ng-click="selecionarLinhaEndereco(e)"
											ng-class="{linhaSelecionada : e == objetoSelecionadoEndereco}">
											<td>{{e.rua}}</td>
											<td>{{e.cep}}</td>
											<td>{{e.numero}}</td>
											<td>{{e.bairro}}</td>
											<td>{{e.complemento}}</td>
											<td>{{e.tipoEndereco.descricao}}</td>
										</tr>
									</tbody>
									<!-------------------------------->
									<!--	FIM DO CORPO DA TABELA	-->
									<!-------------------------------->
									
								</table>
								<div class="row">
										<div class="col-md-12">
											<button type="button" class="btn bg-primary btn-lg pull-right"
											ng-click="btnSalvarPessoa(pessoa)">Salvar</button>
										</div>
									</div>
							</div>
						</div>
					</div>
					<!-- FIM DA DIV CONTENDO CARD QUE CONTÉM TODA A ABA DE ENDEREÇOS -->
					
					
				</div>
								
			</div>
			
			<!---------------------------------------------------------------------------->
			<!--						DIV COM PAINEL CONTATOS							-->
			<!---------------------------------------------------------------------------->
			
			<div class="card-body" ng-show="abaSelecionada == 'contato'">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
						
							<button type="button" ng-click="btnIncluirContato()" 
									class="btn btn-outline-primary btn-lg glyphicon glyphicon-floppy-disk">  Incluir</button>
								
							<button type="button" ng-click="btnEditarContato()"
									class="btn btn-outline-primary btn-lg glyphicon glyphicon-pencil">  Editar</button>
								
							<button type="button" ng-click="btnExcluirContato()"
									class="btn btn-outline-danger btn-lg glyphicon glyphicon-remove-sign">  Excluir</button>
								
						</div>
			
						<div class="card-body">
							<div class="table-responsive table-pesquisa-fixa">
								<table class="table table-bordered table-condensed">
									<thead>
										<tr>
												
												<th>
													<a href="" ng-click="ordenacao('nome')"
														title="Ordenar"> Nome <span
															ng-show="campoOrdenacao == '+nome'"
															class="glyphicon glyphicon-sort-by-attributes" /> <span
															ng-show="campoOrdenacao == '-nome'"
															class="glyphicon glyphicon-sort-by-attributes-alt" />
														</a>
													</th>
												
											<th>
												<a href="" ng-click="ordenacao('email')"
													title="Ordenar"> Email <span
														ng-show="campoOrdenacao == '+email'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-email'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
													</a>
												</th>
												
											<th><a href="" ng-click="ordenacao('telefone')"
													title="Ordenar"> Telefone <span
														ng-show="campoOrdenacao == '+telefone'"
														class="glyphicon glyphicon-sort-by-attributes" /> <span
														ng-show="campoOrdenacao == '-telefone'"
														class="glyphicon glyphicon-sort-by-attributes-alt" />
													</a>
												</th>
		
										</tr>
										
									</thead>
			
									<!-------------------------------------------------------------------------------->
									<!--	CORPO DE TABELA QUE CONTEM OS ATRIBUTOS DA TABELA QUE TRARÁ A BUSCA 	-->
									<!-------------------------------------------------------------------------------->
									<tbody>
										<!-- dado push na lista contatos no controller -->
										<tr ng-class="{linhaSelecionada : c == objetoSelecionadoContato}" ng-repeat="c in pessoa.contatos"
											ng-click="selecionarLinhaContato(c)">
											
											
											<td>{{c.nome}}</td>
											<td>{{c.email}}</td>
											<td>{{c.telefone}}</td>
											
											
										</tr>
									</tbody>
									
									<!-------------------------------->
									<!--	FIM DO CORPO DA TABELA	-->
									<!-------------------------------->
								</table>
								<div class="row">
										<div class="col-md-12">
											<button type="button" class="btn bg-primary btn-lg pull-right"
											ng-click="btnSalvarPessoa(pessoa)">Salvar</button>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div
					class="alert alert-danger alert-dismissible col-md-12 text-center"
					ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
			</div>
	</div>
</div>

















<!-------------------------------------------------------------------------------->
<!--					INPUTS DA TELA DE CADASTRO DE ENDEREÇO 					-->
<!-------------------------------------------------------------------------------->
<div class="modal" id="modalEndereco">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h1 class="card-title"><h4>Pessoa > Incluir endereço</h4></h1>
				<button type="button" class="btn btn-secondary pull-right"
					ng-click="fecharModalEndereco()">Voltar</button>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-1">
						<div class="form-group">
							<label>Código</label> <input type="text" class="form-control"
								ng-model="endereco.id" readonly>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label>* Rua</label> <input id="eRua" type="text"
								class="form-control" ng-model="endereco.rua" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>
					
					<div class="col-md-2">
						<div class="form-group">
							<label>* Cep</label> <input id="eCep" type="text"
								class="form-control" ng-model="endereco.cep" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-1">
						<div class="form-group">
							<label>*Numero</label> <input id="eNumero" type="text"
								class="form-control" ng-model="endereco.numero" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label>*Bairro</label> <input id="eBairro" type="text"
								class="form-control" ng-model="endereco.bairro" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label>* Complemento</label> <input id="eComplemento" type="text"
								class="form-control" ng-model="endereco.complemento"
								maxlength="60" mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label>Tipo</label> <select class="form-control"
								ng-model="endereco.tipoEndereco"
								ng-options="e.descricao for e in tiposEndereco | orderBy:'descricao' track by e.id">
								<option value="">Selecione um tipo de endereco</option>
							</select>
						</div>
					</div>

					<!-- CAMPO STATUS -->
					
					
					<div class="col-md-12">
						<div class="form-group">
							<div class="checkbox">
								<label> <input type="checkbox" class="checkbox"
									ng-model="endereco.status" ng-true-value="1" ng-false-value="0">
									Ativo
								</label>
							</div>
						</div>
					</div>
				</div>
						<div class="row">
							<div
							class="alert alert-danger alert-dismissible col-md-12 text-center"
							 ng-show="mensagemRodape">{{mensagemRodape}}</div>
							
						</div>
					
				
					<div class="row">
						<div class="col-md-12">
							<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click="btnSalvarEndereco(endereco)">Salvar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
	</div>
</div>
<!-------------------------------------------------------------------------------->
<!--			FIM DOS INPUTS DA TELA DE CADASTRO DE ENDERECO 					-->
<!-------------------------------------------------------------------------------->


























<!-------------------------------------------------------------------------------->
<!--					INPUTS DA TELA DE CADASTRO DE CONTATO 					-->
<!-------------------------------------------------------------------------------->
<div class="modal" id="modalContato">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title"><h4>Pessoa > Incluir contato</h4></h3>
				<button type="button" class="btn btn-secondary pull-right"
					ng-click="fecharModalContato()">Voltar</button>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div class="row">
					<div class="col-md-1">
						<div class="form-group">
							<label>Código</label> <input type="text" class="form-control"
								ng-model="contato.id" readonly>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>* Nome</label> <input id="cNome" type="text"
								class="form-control" ng-model="contato.nome" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>* Email</label> <input id="cEmail" type="text"
								class="form-control" ng-model="contato.email" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label>* Telefone</label> <input id="cTelefone" type="text"
								class="form-control" ng-model="contato.telefone" maxlength="60"
								mask-maiusculas autofocus>
						</div>
					</div>

					<div class="col-md-2">
						<div class="form-group">
							<label>Tipo</label> <select class="form-control"
								ng-model="contato.tipoContato"
								ng-options="c.descricao for c in tiposContato | orderBy:'descricao' track by c.id">
								<option value="">Selecione um tipo de contato</option>
							</select>
						</div>
					</div>

					<!-- CAMPO STATUS -->
					<div class="col-md-12">
						<div class="form-group">
							<div class="checkbox">
								<label> <input type="checkbox" class="checkbox"
									ng-model="contato.status" ng-true-value="1" ng-false-value="0">
									Ativo
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="alert alert-danger alert-dismissible col-md-12 text-center" ng-show="mensagemRodape">{{mensagemRodape}}</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn bg-primary btn-lg pull-right"
							ng-click="btnSalvarContato(contato)">Salvar</button>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
	</div>
</div>

<!-------------------------------------------------------------------------------->
<!--			FIM DOS INPUTS DA TELA DE CADASTRO DE CONTATO 					-->
<!-------------------------------------------------------------------------------->














<!-- DIV COM MODAL ALERTANDO PARA CAMPOS SELECIONADOS -->
<div class="modal" id="modalAtencao">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title glyphicon glyphicon-exclamation-sign">  Atenção</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
			
			<div class="modal-body">
				<p><h2>{{mensagemModal}}</h2></p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">OK</button>
			</div>
			
		</div>
	</div>
</div>
<!-- FIM DA DIV COM MODAL ALERTANDO PARA CAMPOS SELECIONADOS -->						












<!-- DIV COM MODAL PARA EXCLUSÃO DE PESSOA -->
<div class="modal" id="modalExcluirPessoa">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			
			
			<!-- DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			<div class="modal-body">
				<p><h2>{{mensagemModal}}</h2></p>
			</div>
			<!-- FIM DA DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			
			
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary pull-right" ng-click="confirmaExcluirPessoa()">Confirmar</button>
			</div>

		</div>
	</div>
</div>
<!-- FIM DA DIV COM MODAL PARA EXCLUSÃO DE PESSOA -->



<!-- DIV COM MODAL PARA EXCLUSÃO DE ENDERECO -->
<div class="modal" id="modalExcluirEndereco">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			
			
			<!-- DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			<div class="modal-body">
				<p><h2>{{mensagemModal}}</h2></p>
			</div>
			<!-- FIM DA DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			
			
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary pull-right" ng-click="apagarEndereco()">Confirmar</button>
			</div>

		</div>
	</div>
</div>
<!-- FIM DA DIV COM MODAL PARA EXCLUSÃO DE ENDERECO -->



<!-- DIV COM MODAL PARA EXCLUSÃO DE CONTATO -->
<div class="modal" id="modalExcluirContato">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Atenção</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			
			
			<!-- DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			<div class="modal-body">
				<p><h2>{{mensagemModal}}</h2></p>
			</div>
			<!-- FIM DA DIV COM MENSAGEM PARA CAMPOS A SEREM EXCLUIDOS -->
			
			
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary pull-right" ng-click="apagarContato()">Confirmar</button>
			</div>

		</div>
	</div>
</div>
<!-- FIM DA DIV COM MODAL PARA EXCLUSÃO DE CONTATO -->

	
	
